Source: pvr-omap4
Section: droid4
Priority: extra
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Build-Depends:
 debhelper (>= 10),
 libx11-6,
 libdrm2 (>= 2.4.3),
 libxfixes3 (>= 1:4.0.1),
 libxext6,
 libdrm-omap1,
 libdri2-1,
 libpixman-1-0,
 libgbm-dev,
 libwayland-dev
Standards-Version: 3.9.1
Vcs-Git: git://gitorious.org/ubuntu-omap/pvr-omap4.git
Vcs-Browser: https://gitorious.org/ubuntu-omap/pvr-omap4

Package: pvr-omap4-libs
Architecture: armhf
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libdrm-omap1,
 libdri2-1,
 libpixman-1-0,
 libgbm1 (>= 9.0.0-8)
Replaces: pvr-omap4 (<< 1.9.0.7.1.5-1)
Breaks: pvr-omap4 (<< 1.9.0.7.1.5-1)
Description: PowerVR SGX540 libraries for OMAP4, remaining libs and binaries
 PowerVR SGX540 Linux libraries for OMAP4.
 .
 This package contains the remaining binaries and common libraries.
 
